
html,
body {
    width: 100%;
    height: 100%;
}
.text_button {
    font-family: sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
    color: #000;
}  

.container_main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: space-between;
    
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_title {
    margin-bottom: 1.5rem;
}
.title {
    font-family: serif;
    font-style: italic;
    letter-spacing: 5px;
    font-size: 2rem;
    font-weight: 600;
    color: gray;
}
.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.settings_set {
    display: flex;
    align-items: center;
}
.header_list {
    margin-bottom: 1.5rem;
}
.mode {
    width: 180px;
}
.list_mode:not(:last-child) {
    margin-right: 0.8rem;
}
.mode {
    padding: 10px 15px;
    background-color: rgb(196, 195, 195);
    border-radius: 22px;
    border: #000 3px solid;
    cursor: pointer;
}
.mode:active {
    transform: translateY(5px);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.03s ease, box-shadow 0.03s linear;
}
.rainbow_mode {
    background: linear-gradient(90deg, rgba(255, 0, 0, 0.651), rgba(0, 128, 0, 0.562), rgba(0, 0, 255, 0.473));
    border-left-color: rgba(255, 0, 0, 0.808);
    border-top-color: rgba(0, 128, 0, 0.801);
    border-right-color: rgba(0, 0, 255, 0.719);
    border-bottom-color: rgba(46, 45, 45, 0.849);
}
.ease_mode {
    color: #fff;
    background-color: #000;
    border-radius: 22px;
    border-color: rgb(196, 195, 195);
}
.hover_set {
    display: flex;
}
.hover_set_text {
    font-size: 1.1rem;
    margin-right: 15px;
    line-height: 2rem;
}
.checkbox {
    width: 0;
    height: 0;
    visibility: hidden;
}
.switcher_hover {
    display: flex;
    align-items: center;
    width: 60px;
    height: 2rem;
    background-color: rgb(196, 195, 195);
    border-radius: 2rem;
    border: #000 2px solid;
    cursor: pointer;
}

.switcher_hover::after {
    display: inline-block;
    content: '';
    width: 1.4rem;
    height: 1.4rem;
    border-radius: 50%;
    margin-left: 0.25rem;
}
.switcher_hover::after {
    background: radial-gradient(#fff, #fff 2px, 
    #000 4px, #000);
}
.checkbox:checked ~ .switcher_hover::after {
    margin-left: auto;
    margin-right: 0.25rem;   
}
.checkbox:checked ~ .switcher_hover::after {
    background: radial-gradient(#000, #000 2px, 
    #fff 4px, #fff);
}
.select_set {
    background-color: rgb(196, 195, 195);
    border-radius: 2rem;
    border: #000 2px solid;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.3rem;
}  
.set_color {
    display: block;
    background-color: rgb(196, 195, 195);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: rgb(196, 195, 195) 3px solid;
    cursor: pointer;
}
.color {
    width: 0;   
    height: 0;
    visibility: hidden;
}

.container_field {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    display: flex;
    flex-flow: row wrap;
    outline: 15px groove olivedrab;
    border: 3px solid rgba(10, 10, 10, 0.5);
}
.container_row {
    width: 100%;
    display: flex; 
}
.item {
    flex: 1;
    background-color: rgb(255, 255, 255);
    border: 0.1px solid black;
}

.main {
    position: relative;
}
.main_range {
    margin-top: 2rem;
}

.set_range {
    width: 100%;
}
.input_range {
    width: 100%;
}
.vertical {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(-90deg) translate(calc(50% + 2rem + 13px), calc(-200px - 15px - 2rem));
} 
